[submodule "openvpn3-core"]
	path = openvpn3-core
	url = https://github.com/OpenVPN/openvpn3
[submodule "asio"]
	path = vendor/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
	ignore = untracked
[submodule "ovpn-dco"]
	path = ovpn-dco
	url = https://gitlab.com/openvpn/ovpn-dco.git
	ignore = untracked
